@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;700&display=swap');

body {
    font-family: 'Atma', cursive;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    cursor: url('cake_5019928.png') 16 16, auto; /* Correct path and size */
    color: #ff80ab;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    max-width: 600px;
    width: 90%;
}

h2 {
    font-size: 24px;
    color: #ff66b2;
}

.gift-boxes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gift-box {
    width: 120px;
    height: 120px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gift-box img {
    width: 100%;
}

.gift-box:hover {
    transform: scale(1.1);
}

#prize-message {
    font-size: 24px;
    margin-top: 15px;
    color: #333;
}

.back-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #ff7ea8;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, background 0.3s;
}

.back-button:hover {
    background-color: #5599e6;
    transform: scale(1.05);
}
