@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;700&display=swap');
/* Body styling */
body {
    font-family: 'Atma', cursive;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    cursor: url('cake_5019928.png') 16 16, auto; /* Correct path and size */
    color: #ff80ab;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General container styling */
.bday-container {
    width: 90%;
    max-width: 600px;
    background: rgba(255, 230, 250, 0.8);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

/* Card container styling */
.card-container {
    width: 70%;
    max-width: 100%;
    background: rgba(255, 230, 250, 0.8);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .card-container {
        max-width: 90%;
        padding: 15px;
    }

    .card-container h2 {
        font-size: 25px;
    }

    .card-container p {
        font-size: 16px;
    }
}

h2 {
    font-size: 24px;
    color: #ff66b2; /* Pastel pink */
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 450px; /* Limits GIF height */
    height: auto;
    border-radius: 10px;
}

/* Button styling */
.button, .back-button {
    font-family: 'Atma', cursive;
    font-size: 18px;
    color: white;
    background: #ff9eb5; /* Pastel pink */
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* Hover effect on buttons */
.button:hover, .back-button:hover {
    background-color: #5599e6;
    transform: scale(1.05);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}


/* Additional responsive tweaks */
@media screen and (max-width: 600px) {
    .bday-container {
        width: 90%;
        padding: 30px;
    }

    .button {
        font-size: 16px;
        padding: 10px 20px;
    }
}
